<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/WebApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/sketchy.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
</head>
<body class="bg-body">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-light justify-content-between small text-dark">
            <div class="container-fluid text-dark ">
                <div class="d-flex">

                    <a class="navbar-brand text-dark" href="#">Animal Sanctuary</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon "></span>
                    </button>

                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between text-dark">
                        <ul class="d-inline-flex mt-2  flex-row text-dark flex-grow-1 collapse d-sm-inline-flex justify-content-between text-dark list-unstyled">
                            <li class="nav-item  me-2 dropdown text-dark ">
                                <a a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-controls="dropdown-target" data-bs-target="#dropdown-target" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-grid-3x3-gap"></i> @ViewContext.RouteData.Values["Controller"]!.ToString()
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-target">
                                    <a class="dropdown-item text-dark" asp-controller="Animals" asp-action="Index"><i class="bi bi-grid-3x3-gap"></i> Animals</a>
                                    <a class="dropdown-item text-dark" asp-controller="Species" asp-action="Index"><i class="bi bi-grid-3x3-gap"></i> Species</a>
                                    <a class="dropdown-item text-dark" asp-controller="AnimalTypes" asp-action="Index"><i class="bi bi-grid-3x3-gap"></i> Types</a>
                                    <a class="dropdown-item text-dark" asp-controller="Facilities" asp-action="Index"><i class="bi bi-grid-3x3-gap"></i> Facilities</a>
                                </div>
                            </li>
                            @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("user")))
                            {
                            <li class="nav-item  me-2 dropdown text-dark ">
                                <a a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-controls="dropdown-target" data-bs-target="#dropdown-target" aria-haspopup="true" aria-expanded="false">
                                    <i class="bi bi-gear"></i> Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-target">
                                    <a class="dropdown-item text-dark" asp-controller="Animals" asp-action="List"><i class="bi bi-list"></i> Animals</a>
                                    <a class="dropdown-item text-dark" asp-controller="Species" asp-action="List"><i class="bi bi-list"></i> Species</a>
                                    <a class="dropdown-item text-dark" asp-controller="AnimalTypes" asp-action="List"><i class="bi bi-list"></i> Types</a>
                                    <a class="dropdown-item text-dark" asp-controller="Facilities" asp-action="List"><i class="bi bi-list"></i> Facilities</a>
                                </div>
                            </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="float-end d-lg-flex d-md-block">

                    <div class="text-dark">
                        <ul class="text-dark flex-grow-1 collapse d-sm-inline-flex justify-content-between text-dark list-unstyled">
                            @if (ViewBag.Sorting != null)
                            {
                                <li class="dropdown text-dark">
                                    <a class="dropdown-toggle text-dark text-decoration-none" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-controls="dropdown-target" data-bs-target="#dropdown-target" aria-haspopup="true" aria-expanded="false">
                                        <i class="bi bi-columns-gap"></i> @ViewBag.FieldDisplayName
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown" id="dropdown-target">
                                        @foreach (var item in ViewBag.Sorting.Fields)
                                        {
                                            @Html.ActionLink((ViewBag.Sorting.DisplayNames as Dictionary<string,string>)!.FirstOrDefault(x=>x.Key == item).Value, ViewContext.RouteData.Values["Action"]!.ToString(), new {sortingField = ViewData[$"{item}Field"]}, new {@class="dropdown-item text-dark"})
                                        }
                                    </div>
                                </li>
                            }
                        </ul>
                        <div class="text-dark flex-grow-1 collapse d-sm-inline-flex justify-content-between text-dark">

                            @if (ViewBag.Order != null)
                            {
                                <a class="text-dark dropdown-item fw-bold m-2" href="@Url.Action(ViewContext.RouteData.Values["Action"]!.ToString(), ViewContext.RouteData.Values["Controller"]!.ToString(), new{sortingOrder = ViewData[$"{ViewBag.Field}Order"]})">
                                    @if (!string.IsNullOrEmpty(ViewBag.Order) && ViewBag.Order == "desc")
                                    {
                                        <i class="bi bi-sort-alpha-down"></i> @ViewBag.Order
                                    }
                                    else
                                    {
                                        <i class="bi bi-sort-alpha-up"></i> @ViewBag.Order
                                    }
                                </a>
                            }
                        </div>

                    </div>
                    <div class="text-dark">
                        @if (ViewBag.Filter != null)
                        {
                            <form class="form-inline my-2 my-lg-0 d-flex" style="padding-right: 25px;">
                                <div class="input-group">
                                    @Html.AntiForgeryToken()
                                    @if (!string.IsNullOrEmpty(ViewBag.Filter))
                                    {
                                        <input name="filteringString" value="@ViewBag.Filter" type="text" class="form-control form-control-sm" style="background-color:#fde7e7;" placeholder="Search for a..." aria-label="" aria-describedby="button-addon2">
                                        <button class="btn btn-sm btn-danger my-2 my-sm-0" type="submit">Filter</button>
                                    }
                                    else
                                    {
                                        <input name="filteringString" value="@ViewBag.Filter" type="text" class="form-control form-control-sm" placeholder="Search for a..." aria-label="" aria-describedby="button-addon2">
                                        <button class="btn btn-sm btn-info my-2 my-sm-0" type="submit">Filter</button>
                                    }
                                </div>
                            </form>
                        }
                    </div>
                    <partial name="_Identity" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>
        $(function () {
            $('#sortingField').change(function () {
                window.location.href = "/Animals/Index?sortingField=" + $(this).val();
            })
        });
    </script>
    <script>
        $(function () {
            $('#sortingOrder').change(function () {
                window.location.href = "/Animals/Index?sortingOrder=" + $(this).val();
            })
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>